.container {
    margin: 0 auto;
}

.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.switch__input {
    height: 0;
    width: 0;
    opacity: 0;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 34px;
    background-color: #ece4e4;
    transition: .4s;
}

.switch__slider::before{
    content: "";
    position: absolute;
    cursor: pointer;
    left: 4px;
    bottom: 4px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color:rgb(230, 226, 226);
    transition: .4s;

}

.switch__input:focus + .switch__slider {
    box-shadow: 0 0 1px #19bb21;
}

.switch__input:checked + .switch__slider {
    background-color: #0af515;
}

.switch__input:checked + .switch__slider::before {
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
}